* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khoi phuc co chu mac dinh theo rem */
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
}

/* Common */

.header {
  background-color: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.btn {
  display: flex;
  width: 144px;
  height: 50px;
  background-color: #151003;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  border-radius: 24.5px;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 6px 21px;
}
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 1px currentColor;
}
.nav li.active a::after {
  color: #171100;
  text-shadow: 1px 0px 1px currentColor;
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 5px;
  border-radius: 1px;
  background-color: #171100;
}

.header .action {
  padding-left: 45px;
}

/* 

============= Hero ==============

*/
.hero {
  background-color: #fffcf4;

  padding-top: 56px;
  padding-bottom: 65px;
}
.hero .body {
  display: flex;
}

/* 
==========hero-left=============
*/
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block > img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  position: absolute;
  width: 270px;
  height: 244px;
  right: 0;
  bottom: 48px;
  background-color: #fffcf4;
  border-radius: 12px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-summary .icon.icon1 {
  background-color: #fff9e8;
}
.hero-summary .icon.icon2 {
  background-color: #fcefff;
}
.hero-summary .icon.icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  padding-left: 16px;
}
/* 
============hero-right============
*/
.hero .content-block {
  padding-top: 64px;
  padding-left: 130px;
  width: 52%;
}
.hero .content-block h1 {
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desk {
  font-size: 1.8rem;
  color: #5f5b53;
  line-height: 1.67;
  margin-top: 22px;
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}
.hero-cta {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  min-width: 180px;
  background-color: #ffb900;
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #171100;
  cursor: pointer;
}
.hero .watch-video .icon {
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .Recent {
  margin-top: 48px;
}
.hero .stat strong {
  color: #171100;

  font-weight: 700;
  font-style: Regular;
  font-size: 4.4rem;
  line-height: 1.23%;
}
.student {
  padding-right: 28px;
}
