* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khoi phuc co chu mac dinh theo rem */
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* Header */
.header .body {
  display: flex;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
