* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khoi phuc co chu mac dinh theo rem */
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  margin-top: 20px;
}

/* Common */
.btn {
  display: flex;
  width: 144px;
  height: 50px;
  background-color: #151003;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  border-radius: 24.5px;
}
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header .body {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 6px 21px;
}
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 1px currentColor;
}
.nav li.active a::after {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  left: 21px;
  bottom: 5px;
  border-radius: 1px;
  background-color: #171100;
}
